In [1]:
import pandas as pd
from scipy.io import arff
import sys
import os

sys.path.append(os.path.abspath('../'))

from src.utils import preprocess_and_save

# 1) Dataset 1480

In [2]:
file_path = 'data/raw/phpOJxGL9.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

     V1      V2    V3   V4     V5    V6     V7   V8   V9   V10 Class
0  65.0  Female   0.7  0.1  187.0  16.0   18.0  6.8  3.3  0.90     1
1  62.0    Male  10.9  5.5  699.0  64.0  100.0  7.5  3.2  0.74     1
2  62.0    Male   7.3  4.1  490.0  60.0   68.0  7.0  3.3  0.89     1
3  58.0    Male   1.0  0.4  182.0  14.0   20.0  6.8  3.4  1.00     1
4  72.0    Male   3.9  2.0  195.0  27.0   59.0  7.3  2.4  0.40     1

In [3]:
cluster_col = 'Class'
categorical_cols = ['V2']
save_dir = 'data/preprocessed/1480'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

âœ… Data and metadata saved to 'data/preprocessed/1480'

# 2) Dataset 458

In [4]:
file_path = 'data/raw/analcatdata_authorship.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,a,all,also,an,and,any,are,as,at,be,...,what,when,which,who,will,with,would,your,BookID,Author
0,46.0,12.0,0.0,3.0,66.0,9.0,4.0,16.0,13.0,13.0,...,7.0,5.0,6.0,8.0,4.0,9.0,1.0,0.0,1.0,Austen
1,35.0,10.0,0.0,7.0,44.0,4.0,3.0,18.0,16.0,9.0,...,5.0,7.0,7.0,3.0,5.0,14.0,8.0,0.0,1.0,Austen
2,46.0,2.0,0.0,3.0,40.0,1.0,13.0,11.0,9.0,23.0,...,10.0,4.0,6.0,4.0,5.0,15.0,3.0,9.0,1.0,Austen
3,40.0,7.0,0.0,4.0,64.0,3.0,3.0,20.0,13.0,20.0,...,3.0,6.0,10.0,5.0,3.0,22.0,4.0,3.0,1.0,Austen
4,29.0,5.0,0.0,6.0,52.0,5.0,14.0,17.0,6.0,16.0,...,8.0,4.0,13.0,2.0,4.0,21.0,10.0,0.0,1.0,Austen

In [5]:
cluster_col = 'Author'
categorical_cols = []
save_dir = 'data/preprocessed/458'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/458'

# 3) Dataset 469

In [6]:
file_path = 'data/raw/analcatdata_dmft.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

  DMFT.Begin DMFT.End  Gender Ethnic        Prevention
0          6        3    Male  Black  Health_education
1          2        1  Female  Black  Health_education
2          1        0    Male  Black  Health_education
3          7        2    Male  White  Health_education
4          3        3  Female  White  Health_education

In [7]:
cluster_col = 'Prevention'
categorical_cols = ['DMFT.Begin', 'DMFT.End', 'Gender', 'Ethnic']
save_dir = 'data/preprocessed/469'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No numerical columns found. Skipping quantile transformation.
âœ… Data and metadata saved to 'data/preprocessed/469'

# 4) Dataset 11

In [8]:
file_path = 'data/raw/dataset_11_balance-scale.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

   left-weight  left-distance  right-weight  right-distance class
0          1.0            1.0           1.0             1.0     B
1          1.0            1.0           1.0             2.0     R
2          1.0            1.0           1.0             3.0     R
3          1.0            1.0           1.0             4.0     R
4          1.0            1.0           1.0             5.0     R

In [9]:
cluster_col = 'class'
categorical_cols = []
save_dir = 'data/preprocessed/11'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/11'

# 5) Dataset 23

In [10]:
file_path = 'data/raw/dataset_23_cmc.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,Wifes_age,Wifes_education,Husbands_education,Number_of_children_ever_born,Wifes_religion,Wifes_now_working%3F,Husbands_occupation,Standard-of-living_index,Media_exposure,Contraceptive_method_used
0,24.0,2,3,3.0,1,1,2,3,0,1
1,45.0,1,3,10.0,1,1,3,4,0,1
2,43.0,2,3,7.0,1,1,3,4,0,1
3,42.0,3,2,9.0,1,1,3,3,0,1
4,36.0,3,3,8.0,1,1,3,2,0,1

In [11]:
cluster_col = 'Contraceptive_method_used'
categorical_cols = ['Wifes_education', 'Husbands_education', 'Wifes_religion',
       'Wifes_now_working%3F', 'Husbands_occupation', 'Standard-of-living_index', 'Media_exposure']
save_dir = 'data/preprocessed/23'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

âœ… Data and metadata saved to 'data/preprocessed/23'

# 6) Dataset 37

In [12]:
file_path = 'data/raw/dataset_37_diabetes.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

   preg   plas  pres  skin   insu  mass   pedi   age            class
0   6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0  tested_positive
1   1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  tested_negative
2   8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  tested_positive
3   1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  tested_negative
4   0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  tested_positive

In [13]:
cluster_col = 'class'
categorical_cols = []
save_dir = 'data/preprocessed/37'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/37'

# 7) Dataset 1067

In [14]:
file_path = 'data/raw/kc1.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,loc,v(g),ev(g),iv(g),n,v,l,d,i,e,...,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,defects
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2.0,2.0,2.0,2.0,1.2,1.2,1.2,1.2,1.4,false
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,true
2,83.0,11.0,1.0,11.0,171.0,927.89,0.04,23.04,40.27,21378.61,...,65.0,10.0,6.0,0.0,18.0,25.0,107.0,64.0,21.0,true
3,46.0,8.0,6.0,8.0,141.0,769.78,0.07,14.86,51.81,11436.73,...,37.0,2.0,5.0,0.0,16.0,28.0,89.0,52.0,15.0,true
4,25.0,3.0,1.0,3.0,58.0,254.75,0.11,9.35,27.25,2381.95,...,21.0,0.0,2.0,0.0,11.0,10.0,41.0,17.0,5.0,true

In [15]:
cluster_col = 'defects'
categorical_cols = []
save_dir = 'data/preprocessed/1067'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/1067'

# 8) Dataset 1063

In [16]:
file_path = 'data/raw/kc2.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,loc,v(g),ev(g),iv(g),n,v,l,d,i,e,...,lOCode,lOComment,lOBlank,lOCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,problems
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2.0,2.0,2.0,2.0,1.2,1.2,1.2,1.2,1.4,no
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,yes
2,415.0,59.0,50.0,51.0,1159.0,8411.31,0.01,103.53,81.24,870848.58,...,359.0,35.0,9.0,10.0,47.0,106.0,692.0,467.0,106.0,yes
3,230.0,33.0,10.0,16.0,575.0,3732.82,0.03,39.82,93.74,148644.06,...,174.0,15.0,34.0,5.0,23.0,67.0,343.0,232.0,65.0,yes
4,175.0,26.0,12.0,13.0,500.0,3123.96,0.03,29.48,105.96,92103.07,...,142.0,7.0,19.0,4.0,18.0,58.0,310.0,190.0,51.0,yes

In [17]:
cluster_col = 'problems'
categorical_cols = []
save_dir = 'data/preprocessed/1063'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/1063'

# 9) Dataset 1068

In [18]:
file_path = 'data/raw/pc1.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,loc,v(g),ev(g),iv(G),N,V,L,D,I,E,...,lOCode,lOComment,locCodeAndComment,lOBlank,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,defects
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2.0,2.0,2.0,2.0,1.2,1.2,1.2,1.2,1.4,false
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,true
2,91.0,9.0,3.0,2.0,318.0,2089.21,0.04,27.68,75.47,57833.24,...,80.0,44.0,11.0,31.0,29.0,66.0,192.0,126.0,17.0,true
3,109.0,21.0,5.0,18.0,381.0,2547.56,0.04,28.37,89.79,72282.68,...,97.0,41.0,12.0,24.0,28.0,75.0,229.0,152.0,38.0,true
4,505.0,106.0,41.0,82.0,2339.0,20696.93,0.01,75.93,272.58,1571506.88,...,457.0,71.0,48.0,49.0,64.0,397.0,1397.0,942.0,178.0,true

In [19]:
cluster_col = 'defects'
categorical_cols = []
save_dir = 'data/preprocessed/1068'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/1068'

# 10) Dataset 1050

In [20]:
file_path = 'data/raw/pc3.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,LOC_BLANK,BRANCH_COUNT,CALL_PAIRS,LOC_CODE_AND_COMMENT,LOC_COMMENTS,CONDITION_COUNT,CYCLOMATIC_COMPLEXITY,CYCLOMATIC_DENSITY,DECISION_COUNT,DECISION_DENSITY,...,NODE_COUNT,NORMALIZED_CYLOMATIC_COMPLEXITY,NUM_OPERANDS,NUM_OPERATORS,NUM_UNIQUE_OPERANDS,NUM_UNIQUE_OPERATORS,NUMBER_OF_LINES,PERCENT_COMMENTS,LOC_TOTAL,c
0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.10,0.0,0.00,...,2.0,0.08,28.0,29.0,9.0,5.0,13.0,0.00,10.0,FALSE
1,1.0,1.0,4.0,0.0,0.0,0.0,1.0,0.07,0.0,0.00,...,6.0,0.06,52.0,55.0,26.0,14.0,16.0,0.00,14.0,FALSE
2,27.0,19.0,1.0,4.0,13.0,26.0,11.0,0.26,12.0,2.17,...,25.0,0.13,58.0,78.0,30.0,24.0,83.0,30.91,42.0,FALSE
3,2.0,17.0,2.0,0.0,0.0,24.0,9.0,0.47,8.0,3.00,...,25.0,0.41,73.0,81.0,23.0,20.0,22.0,0.00,19.0,FALSE
4,6.0,1.0,1.0,0.0,2.0,0.0,1.0,0.11,0.0,0.00,...,3.0,0.06,19.0,23.0,15.0,7.0,18.0,18.18,9.0,FALSE

In [21]:
cluster_col = 'c'
categorical_cols = []
save_dir = 'data/preprocessed/1050'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/1050'

# 11) Dataset 1049

In [22]:
file_path = 'data/raw/pc4.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,LOC_BLANK,BRANCH_COUNT,CALL_PAIRS,LOC_CODE_AND_COMMENT,LOC_COMMENTS,CONDITION_COUNT,CYCLOMATIC_COMPLEXITY,CYCLOMATIC_DENSITY,DECISION_COUNT,DECISION_DENSITY,...,NODE_COUNT,NORMALIZED_CYLOMATIC_COMPLEXITY,NUM_OPERANDS,NUM_OPERATORS,NUM_UNIQUE_OPERANDS,NUM_UNIQUE_OPERATORS,NUMBER_OF_LINES,PERCENT_COMMENTS,LOC_TOTAL,c
0,17.0,11.0,5.0,2.0,8.0,20.0,6.0,0.25,10.0,2.0,...,25.0,0.11,53.0,49.0,23.0,12.0,57.0,31.25,24.0,FALSE
1,2.0,9.0,3.0,0.0,1.0,16.0,5.0,0.56,6.0,2.0,...,14.0,0.36,13.0,24.0,7.0,14.0,14.0,10.00,9.0,FALSE
2,2.0,5.0,1.0,1.0,1.0,6.0,3.0,0.17,2.0,3.0,...,7.0,0.13,16.0,28.0,9.0,14.0,23.0,10.53,18.0,FALSE
3,4.0,5.0,1.0,0.0,0.0,8.0,3.0,0.30,4.0,2.0,...,10.0,0.19,13.0,16.0,10.0,9.0,16.0,0.00,10.0,FALSE
4,7.0,5.0,1.0,3.0,0.0,0.0,3.0,0.15,0.0,0.0,...,10.0,0.11,26.0,46.0,7.0,7.0,28.0,15.00,20.0,FALSE

In [23]:
cluster_col = 'c'
categorical_cols = []
save_dir = 'data/preprocessed/1049'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/1049'

# 12) Dataset 1464

In [24]:
file_path = 'data/raw/php0iVrYT.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

    V1    V2       V3    V4 Class
0  2.0  50.0  12500.0  98.0     2
1  0.0  13.0   3250.0  28.0     2
2  1.0  16.0   4000.0  35.0     2
3  2.0  20.0   5000.0  45.0     2
4  1.0  24.0   6000.0  77.0     1

In [25]:
cluster_col = 'Class'
categorical_cols = []
save_dir = 'data/preprocessed/1464'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/1464'

# 13) Dataset 40975

In [26]:
file_path = 'data/raw/php2jDIhh.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [27]:
cluster_col = 'class'
categorical_cols = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']
save_dir = 'data/preprocessed/40975'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No numerical columns found. Skipping quantile transformation.
âœ… Data and metadata saved to 'data/preprocessed/40975'

# 14) Dataset 40982

In [28]:
file_path = 'data/raw/php5s7Ep8.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,target
0,42.0,50.0,270900.0,270944.0,267.0,17.0,44.0,24220.0,76.0,108.0,...,0.4706,1.0000,1.0,2.4265,0.9031,1.6435,0.8182,-0.2913,0.5822,Pastry
1,645.0,651.0,2538079.0,2538108.0,108.0,10.0,30.0,11397.0,84.0,123.0,...,0.6000,0.9667,1.0,2.0334,0.7782,1.4624,0.7931,-0.1756,0.2984,Pastry
2,829.0,835.0,1553913.0,1553931.0,71.0,8.0,19.0,7972.0,99.0,125.0,...,0.7500,0.9474,1.0,1.8513,0.7782,1.2553,0.6667,-0.1228,0.2150,Pastry
3,853.0,860.0,369370.0,369415.0,176.0,13.0,45.0,18996.0,99.0,126.0,...,0.5385,1.0000,1.0,2.2455,0.8451,1.6532,0.8444,-0.1568,0.5212,Pastry
4,1289.0,1306.0,498078.0,498335.0,2409.0,60.0,260.0,246930.0,37.0,126.0,...,0.2833,0.9885,1.0,3.3818,1.2305,2.4099,0.9338,-0.1992,1.0000,Pastry

In [29]:
cluster_col = 'target'
categorical_cols = []
save_dir = 'data/preprocessed/40982'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/40982'

# 15) Dataset 1510

In [30]:
file_path = 'data/raw/phpAmSP4g.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,Class
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,2
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,2
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,2
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,2

In [31]:
cluster_col = 'Class'
categorical_cols = []
save_dir = 'data/preprocessed/1510'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/1510'

# 16) Dataset 40994

In [32]:
file_path = 'data/raw/phpJem85A.arff'

data, meta = arff.loadarff(file_path)
df = pd.DataFrame(data)

df = df.map(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
df.head()

,Study,Run,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,...,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl,outcome
0,1.0,1.0,0.859036,0.927825,0.252866,0.298838,0.170521,0.735936,0.428325,0.567947,...,0.245675,0.104226,0.869091,0.997518,0.448620,0.307522,0.858310,0.796997,0.869893,0
1,1.0,2.0,0.606041,0.457728,0.359448,0.306957,0.843331,0.934851,0.444572,0.828015,...,0.616870,0.975786,0.914344,0.845247,0.864152,0.346713,0.356573,0.438447,0.512256,1
2,1.0,3.0,0.997600,0.373238,0.517399,0.504993,0.618903,0.605571,0.746225,0.195928,...,0.679355,0.803413,0.643995,0.718441,0.924775,0.315371,0.250642,0.285636,0.365858,1
3,1.0,4.0,0.783408,0.104055,0.197533,0.421837,0.742056,0.490828,0.005525,0.392123,...,0.471463,0.597879,0.761659,0.362751,0.912819,0.977971,0.845921,0.699431,0.475987,1
4,1.0,5.0,0.406250,0.513199,0.061812,0.635837,0.844798,0.441502,0.191926,0.487546,...,0.551543,0.743877,0.312349,0.650223,0.522261,0.043545,0.376660,0.280098,0.132283,1

In [33]:
cluster_col = 'outcome'
categorical_cols = []
save_dir = 'data/preprocessed/40994'
preprocess_and_save(df, cluster_col, categorical_cols, save_dir)

No categorical columns found. Skipping ordinal encoding.
âœ… Data and metadata saved to 'data/preprocessed/40994'